/* Board */
#pos_00 {
    border-bottom: 1 solid black;
    border-right: 1 solid black;
}
#pos_01 {
    border-bottom: 1 solid black;
    border-left: 1 solid black;
    border-right: 1 solid black;
}
#pos_02 {
    border-bottom: 1 solid black;
    border-left: 1 solid black;
}
#pos_10 {
    border-bottom: 1 solid black;
    border-right: 1 solid black;
    border-top: 1 solid black;
}
#pos_11 {
    border: 1 solid black;
}
#pos_12 {
    border-bottom: 1 solid black;
    border-left: 1 solid black;
    border-top: 1 solid black;
}
#pos_20 {
    border-right: 1 solid black;
    border-top: 1 solid black;
}
#pos_21 {
    border-left: 1 solid black;
    border-right: 1 solid black;
    border-top: 1 solid black;
}
#pos_22 {
    border-left: 1 solid black;
    border-top: 1 solid black;
}

/* Box */
.box {
    height: 100;
    width: 100;
}

/* Shapes */
.x, .y {
    font-size: 50px;
}

.x:before {
    content: "X"
}

.y:before {
    content: "Y"
}